# Gradle
**/.gradle/
**/build/
**/gen/


# Vue
**/node_modules/
**/dist
**/public
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Eclipse
**/.project
**/.classpath
**/.settings/
**/bin/

# IntelliJ
**/.idea
**/*.ipr
**/*.iml
**/*.iws

# Visual Studio Code
**/.vscode
**/.factorypath

# OSX
**/.DS_Store

# Vim
**/*.swp
**/*.swo

# patch
**/*.orig
**/*.rej

# Local environment
**/.env
